/* =========================
   TABLET
========================= */

@media (max-width: 768px) {

    main {
        padding: 40px 15px;
    }

    section {
        padding: 30px;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 25px;
    }

}


/* =========================
   MOBILE
========================= */

@media (max-width: 480px) {

    nav {
        padding: 15px 10px;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    main {
        padding: 30px 10px;
    }

    section {
        padding: 25px 20px;
    }

    h1 {
        font-size: 30px;
    }

    h2 {
        font-size: 23px;
    }

    button {
        width: 100%;
        margin-bottom: 10px;
    }

    main a {
        display: block;
        margin-bottom: 12px;
    }

}/* ==========================================
   DASHBOARD RESPONSIVE DESIGN
   ========================================== */

@media (max-width: 900px) {

    #summary-cards {

        grid-template-columns:
            repeat(2, 1fr);

    }

}


@media (max-width: 600px) {

    #summary-cards {

        grid-template-columns:
            1fr;

    }


    #dashboard {

        padding: 20px 10px;

    }

}